BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 2
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  BeforeElse: true
ReflowComments: false
